<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AC05E02100000</key>
		<dict>
			<key>device</key>
			<string>btn_light_device_</string>
			<key>room</key>
			<string>btn_light_room_</string>
			<key>off</key>
			<string>btn_light_off_device_</string>
			<key>on</key>
			<string>btn_light_on_device_</string>
		</dict>
		<key>AC05E02200000</key>
		<dict>
			<key>device</key>
			<string>btn_light_device_</string>
			<key>room</key>
			<string>btn_light_room_</string>
			<key>off</key>
			<string>btn_light_off_device_</string>
			<key>on</key>
			<string>btn_light_on_device_</string>
		</dict>
		<key>A010402200000</key>
		<dict>
			<key>device</key>
			<string>btn_light_device_</string>
			<key>room</key>
			<string>btn_light_room_</string>
			<key>off</key>
			<string>btn_light_off_device_</string>
			<key>on</key>
			<string>btn_light_on_device_</string>
		</dict>
		<key>A010401000000</key>
		<dict>
			<key>device</key>
			<string>btn_light_device_</string>
			<key>room</key>
			<string>btn_light_room_</string>
			<key>off</key>
			<string>btn_light_off_device_</string>
			<key>on</key>
			<string>btn_light_on_device_</string>
		</dict>
		<key>A010400090000</key>
		<dict>
			<key>device</key>
			<string>btn_outlet_device_</string>
			<key>room</key>
			<string>btn_outlet_room_</string>
			<key>off</key>
			<string>btn_outlet_off_device_</string>
			<key>on</key>
			<string>btn_outlet_on_device_</string>
		</dict>
		<key>A010400020000</key>
		<dict>
			<key>device</key>
			<string>btn_outlet_device_</string>
			<key>room</key>
			<string>btn_outlet_room_</string>
			<key>off</key>
			<string>btn_outlet_off_device_</string>
			<key>on</key>
			<string>btn_outlet_on_device_</string>
		</dict>
		<key>A010404020000</key>
		<dict>
			<key>device</key>
			<string>btn_outlet_device_</string>
			<key>room</key>
			<string>btn_outlet_room_</string>
			<key>off</key>
			<string>btn_outlet_off_device_</string>
			<key>on</key>
			<string>btn_outlet_on_device_</string>
		</dict>
		<key>CP04100100000</key>
		<dict>
			<key>device</key>
			<string>btn_outlet_device_</string>
			<key>room</key>
			<string>btn_outlet_room_</string>
			<key>off</key>
			<string>btn_outlet_off_device_</string>
			<key>on</key>
			<string>btn_outlet_on_device_</string>
		</dict>
	</dict>
	<dict>
		<key>A010404020015</key>
		<dict>
			<key>device</key>
			<string>ic_door_device_</string>
			<key>room</key>
			<string>ic_door_room_</string>
			<key>danger</key>
			<string>ic_door_danger_device_</string>
			<key>noWork</key>
			<string>ic_door_nowork_device_</string>
			<key>safety</key>
			<string>ic_door_safety_device_</string>
		</dict>
		<key>A01040402000D</key>
		<dict>
			<key>device</key>
			<string>ic_infrared_device_</string>
			<key>room</key>
			<string>ic_infrared_room_</string>
			<key>danger</key>
			<string>ic_infrared_danger_device_</string>
			<key>noWork</key>
			<string>ic_infrared_nowork_device_</string>
			<key>safety</key>
			<string>ic_infrared_safety_device_</string>
		</dict>
		<key>A010404020028</key>
		<dict>
			<key>device</key>
			<string>ic_smoke_device_</string>
			<key>room</key>
			<string>ic_smoke_room_</string>
			<key>danger</key>
			<string>ic_smoke_danger_device_</string>
			<key>noWork</key>
			<string>ic_smoke_nowork_device_</string>
			<key>safety</key>
			<string>ic_smoke_safety_device_</string>
		</dict>
		<key>A01040402002B</key>
		<dict>
			<key>device</key>
			<string>ic_combustible_gas_device_</string>
			<key>room</key>
			<string>ic_combustible_gas_room_</string>
			<key>danger</key>
			<string>ic_combustible_gas_danger_device_</string>
			<key>noWork</key>
			<string>ic_combustible_gas_nowork_device_</string>
			<key>safety</key>
			<string>ic_combustible_gas_safety_device_</string>
		</dict>
		<key>A010404028001</key>
		<dict>
			<key>device</key>
			<string>ic_co_device_</string>
			<key>room</key>
			<string>ic_co_room_</string>
			<key>danger</key>
			<string>ic_co_danger_device_</string>
			<key>noWork</key>
			<string>ic_co_nowork_device_</string>
			<key>safety</key>
			<string>ic_co_safety_device_</string>
		</dict>
		<key>A01040402002D</key>
		<dict>
			<key>device</key>
			<string>ic_shock_device_</string>
			<key>room</key>
			<string>ic_shock_room_</string>
			<key>danger</key>
			<string>ic_shock_danger_device_</string>
			<key>noWork</key>
			<string>ic_shock_nowork_device_</string>
			<key>safety</key>
			<string>ic_shock_safety_device_</string>
		</dict>
		<key>A01040402002A</key>
		<dict>
			<key>device</key>
			<string>ic_leak_device_</string>
			<key>room</key>
			<string>ic_leak_room_</string>
			<key>danger</key>
			<string>ic_leak_danger_device_</string>
			<key>noWork</key>
			<string>ic_leak_nowork_device_</string>
			<key>safety</key>
			<string>ic_leak_safety_device_</string>
		</dict>
		<key>A010404020115</key>
		<dict>
			<key>device</key>
			<string>ic_remote_control_device_</string>
			<key>room</key>
			<string>ic_remote_control_room_</string>
			<key>danger</key>
			<string>ic_remote_control_danger_device_</string>
			<key>noWork</key>
			<string>ic_remote_control_nowork_device_</string>
			<key>safety</key>
			<string>ic_remote_control_safety_device_</string>
		</dict>
		<key>A01040402002C</key>
		<dict>
			<key>device</key>
			<string>ic_emergency_device_</string>
			<key>room</key>
			<string>ic_emergency_room_</string>
			<key>danger</key>
			<string>ic_emergency_danger_device_</string>
			<key>noWork</key>
			<string>ic_emergency_nowork_device_</string>
			<key>safety</key>
			<string>ic_emergency_safety_device_</string>
		</dict>
		<key>A010404030225</key>
		<dict>
			<key>device</key>
			<string>ic_alertor_device_</string>
			<key>room</key>
			<string>ic_alertor_room_</string>
			<key>danger</key>
			<string>ic_alertor_danger_device_</string>
			<key>noWork</key>
			<string>ic_alertor_nowork_device_</string>
			<key>safety</key>
			<string>ic_alertor_safety_device_</string>
		</dict>
		<key>A010403020000</key>
		<dict>
			<key>device</key>
			<string>ic_humiture_device_</string>
			<key>room</key>
			<string>ic_humiture_room_</string>
			<key>danger</key>
			<string>ic_humiture_danger_device_</string>
			<key>noWork</key>
			<string>ic_humiture_nowork_device_</string>
			<key>safety</key>
			<string>ic_humiture_safety_device_</string>
		</dict>
		<key>CA04070106070</key>
		<dict>
			<key>device</key>
			<string>ic_door_device_</string>
			<key>room</key>
			<string>ic_door_room_</string>
			<key>danger</key>
			<string>ic_door_danger_device_</string>
			<key>noWork</key>
			<string>ic_door_nowork_device_</string>
			<key>safety</key>
			<string>ic_door_safety_device_</string>
		</dict>
		<key>CA04070107000</key>
		<dict>
			<key>device</key>
			<string>ic_infrared_device_</string>
			<key>room</key>
			<string>ic_infrared_room_</string>
			<key>danger</key>
			<string>ic_infrared_danger_device_</string>
			<key>noWork</key>
			<string>ic_infrared_nowork_device_</string>
			<key>safety</key>
			<string>ic_infrared_safety_device_</string>
		</dict>
	</dict>
</array>
</plist>
