<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>ic_home&apos;_setting_</string>
		<key>title</key>
		<string>Pair home</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_notification_setting_</string>
		<key>title</key>
		<string>Notification</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_security_setting_</string>
		<key>title</key>
		<string>Security Mode</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_devices_setting_</string>
		<key>title</key>
		<string>Devices</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_rooms_setting_</string>
		<key>title</key>
		<string>Rooms</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_scenes_setting_</string>
		<key>title</key>
		<string>Scene</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_member_setting_</string>
		<key>title</key>
		<string>Members</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ic_support_setting_</string>
		<key>title</key>
		<string>Support</string>
	</dict>
</array>
</plist>
