<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>rooms</key>
        <array>
            <dict>
                <key>dev_list</key>
                <array>
                    <dict>
                        <key>dev_id</key>
                        <integer>3</integer>
                        <key>table_id</key>
                        <integer>1</integer>
                    </dict>
                </array>
                <key>room_id</key>
                <integer>5</integer>
                <key>room_name</key>
                <string>babys room</string>
            </dict>
            <dict>
                <key>dev_list</key>
                <array>
                    <dict>
                        <key>dev_id</key>
                        <integer>3</integer>
                        <key>table_id</key>
                        <integer>1</integer>
                    </dict>
                </array>
                <key>room_id</key>
                <integer>5</integer>
                <key>room_name</key>
                <string>my wife</string>
            </dict>
            <dict>
                <key>dev_list</key>
                <array>
                    <dict>
                        <key>dev_id</key>
                        <integer>3</integer>
                        <key>table_id</key>
                        <integer>1</integer>
                    </dict>
                </array>
                <key>room_id</key>
                <integer>5</integer>
                <key>room_name</key>
                <string>my daughter</string>
            </dict>
        </array>
    </dict>
</plist>
