<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scenes</key>
	<array>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>On</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
		<dict>
			<key>action_list</key>
			<array>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>action_id</key>
					<integer>1</integer>
					<key>action_params</key>
					<string>AQ==</string>
					<key>dev_id</key>
					<integer>3</integer>
					<key>table_id</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>scene_id</key>
			<integer>21</integer>
			<key>scene_name</key>
			<string>what</string>
		</dict>
	</array>
</dict>
</plist>
